.pool {
  display: inline-grid;
  grid-template-columns: repeat(50, 10px);
  grid-template-rows: repeat(50, 10px);
  border: 1px solid black;
}

.pool__cell {
  background-color: white;
  border: 1px solid black;
}

.pool__cell--alive {
  transition: background-color 0.3s ease-in;
  background-color: black;
}
